body {
  margin: 0;
  background-color: white;
}

.pages {
  margin: 1rem;
}

.projectList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  grid-gap: 3rem;
  margin: 3rem;
  padding: 0;
}

.projectCard {
  padding: 1rem;
  box-shadow: 0px 0px 13px 6px #999;
  list-style: none;
  background-color: white;
}

.projectCard__link {
  color: #1861e9;
  font-weight: 600;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  text-decoration: none;
  text-align: center;
}

.projectCard__image {
  border: 1px solid #999999;
  margin-bottom: 1rem;
}

.header {
  border-bottom: 1px solid #333333;
  margin-bottom: 1rem;
}

.header__title {
  font-size: 2rem;
  font-family: Helvetica, Arial, sans-serif;
}

.nav {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav__item {
  list-style: none;
  margin: 0 1rem;
}

.nav__link {
  list-style: none;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-decoration: none;
}
