body {
  margin: 0;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-weight: 700;
}
a,
p {
  font-family: "Lato", Geneva, Verdana, sans-serif;
}

.featuredProjects {
  margin: 3rem;
}
.projectList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  grid-gap: 3rem;
  padding: 0;
  margin: 0;
}

.projectCard {
  padding: 1rem;
  box-shadow: 0px 0px 13px 6px #999;
  list-style: none;
  background-color: white;
}

.projectCard__link {
  color: #1861e9;
  font-weight: 600;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  text-decoration: none;
  text-align: center;
}

.projectCard__image {
  border: 1px solid #999999;
  margin-bottom: 1rem;
}

.header {
  border-bottom: 1px solid #333333;
  margin-bottom: 1rem;
}

.header__title {
  font-size: 2rem;
  font-family: Helvetica, Arial, sans-serif;
}

.hero {
  /* display: grid;
  align-items: center;
  grid-gap: 1rem;
  grid-template-columns: 400px 1fr; */

  display: flex;
  flex-wrap: wrap;
  margin: 3rem;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .hero {
  }
  .hero__headshot {
    /* order: -1; */
  }
}

.hero {
  margin: 5rem 3rem 3rem 3rem;
}

.hero__title {
  /* font-size: calc(); */
}

.hero__headshot {
  /* margin: 3rem 1.5rem 3rem 3rem; */
}

.hero__headshot--rounded {
  border-radius: 70% 70%;
}
.hero__info {
  flex-grow: 1;
  width: 360px;
  margin-left: 3rem;
}
.hero__intro {
  font-size: 1.5rem;
}

.hero__button {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #999999;
  color: white;
  text-decoration: none;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-weight: 500;
  transition: 0.5s 0ms background-color ease-in;
  background-color: firebrick;
}

.hero__button:hover {
  background-color: #cccccc;
}

.main-menu {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: black;
  top: 0;
}

.nav {
  display: flex;
  margin: 0;
  padding: 1rem;
}

.nav__item {
  list-style: none;
  margin: 0 1rem;
}

.nav__link {
  list-style: none;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: white;
}

.nav__link--current {
  border-bottom: 2px firebrick solid;
}

.content {
  margin: 3rem;
}
